# OSX
.DS_Store

# Node
node_modules/
npm-debug.log
yarn-error.log

# React Native
/android/app/build
/android/.gradle
/ios/Pods/
/ios/build

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# Test
coverage/
